/* variables */
:root {
    --main-font: 'Grandstander', cursive;
    --timer-size: 600px;
    --needle-size: 160px;
    --bg-color: #f9d3ee;
    --primary-color: #da4b27;
    --secondary-color: #f7b0d6;
    --css-filter: none;
  }
  